#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    macros {
        // Macro tắt máy sạch sẽ, không gõ chữ, miễn nhiễm 100% với Telex
        shutdown_pc: shutdown_pc {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LG(D) &kp LA(F4) &kp ENTER>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // Vặn núm xoay EC11: Tăng / Giảm âm lượng
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;

            bindings = <
                // ---- HÀNG TRÊN (3 switch + 1 núm xoay) ----
                &kp LG(N1)         // Nút 1: Mở app vị trí số 1 trên Taskbar
                &kp LG(N2)         // Nút 2: Mở app vị trí số 2 trên Taskbar
                &kp LG(N3)         // Nút 3: Mở app vị trí số 3 trên Taskbar
                &bootloader        // Núm xoay (Nhấn xuống): Chế độ nạp code

                // ---- HÀNG DƯỚI (4 switch) ----
                &kp PSCRN          // Nút 1: Chụp màn hình (Print Screen)
                &kp LG(E)          // Nút 2: Mở File Explorer (Win + E)
                &kp C_AL_CALC      // Nút 3: Mở Calculator (Máy tính)
                &shutdown_pc       // Nút 4: Tắt máy tính sạch sẽ
            >;
        };
    };
};
