#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    macros {
        // Macro mở Chrome qua hộp thoại Run (Win + R)
        open_chrome: open_chrome {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LG(R) &kp C &kp H &kp R &kp O &kp M &kp E &kp RET>;
        };

        // Macro mở Discord qua hộp thoại Run
        open_discord: open_discord {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LG(R) &kp D &kp I &kp S &kp C &kp O &kp R &kp D &kp RET>;
        };

        // Macro mở Telegram qua hộp thoại Run
        open_telegram: open_telegram {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LG(R) &kp T &kp E &kp L &kp E &kp G &kp R &kp A &kp M &kp RET>;
        };

        // Macro tắt máy tính nhanh trên Windows (Alt + F4 -> Enter)
        shutdown_pc: shutdown_pc {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(F4) &kp RET>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // Vặn núm xoay EC11: Tăng / Giảm âm lượng
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;

            bindings = <
                // ---- HÀNG TRÊN (3 switch + 1 nút nhấn núm xoay EC11) ----
                &kp LG(LC(O))   // Nút 1: Mở bàn phím ảo Windows (Win + Ctrl + O)
                &open_chrome       // Nút 2: Mở Chrome
                &open_discord      // Nút 3: Mở Discord
                &bootloader        // EC11 (Nhấn xuống): Đưa mạch về chế độ nạp code

                // ---- HÀNG DƯỚI (4 switch) ----
                &kp PSCRN          // Nút 1: Chụp ảnh màn hình (Print Screen)
                &kp LG(E)          // Nút 2: Mở File Explorer (Win + E)
                &open_telegram     // Nút 3: Mở Telegram
                &shutdown_pc       // Nút 4: Tắt máy tính
            >;
        };
    };
};
